<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="SHORTCUT ICON" href="fotos/logo.png">
    <link rel="stylesheet" href="/css/homepage.css">
    <title>Training BodyBuilder</title>
</head>

<body>
    <header class="cabecalho">
        <img class="cabecalho-imagem" src="fotos/logo.png" alt="">
        <nav class="cabecalho-menu">
            <a class="cabecalho-menu-item"href="/login">Logar-se</a>
            <a class="cabecalho-menu-item"href="">Sobre</a>
        </nav>
    </header>

    <main class="conteudo">
        <section class="conteudo-principal">
            <div class="conteudo-principal-escrito">
                <h1 class="conteudo-principal-escrito-titulo">Training BodyBuilder</h1>
                <h2 style="color:#FFF2E7;">Se você deseja organizar sua dieta e treino:</h2>
                <form action="/cadastro">
                        <button class="conteudo-principal-escrito-botao" type="submit" >Casdastre-se Agora</button>                    
                </form>
            </div>
            <img class="conteudo-principal-imagem" src="fotos/img2.jpg" alt="">
        </section>

        
        <section class="conteudo-secundario">
            <h2 class="conteudo-secundario-titulo">O que fazemos por você?</h2>
            <p class="conteudo-secundario-paragrafo">1. Organizamos sua <strong>dieta</strong>.</p>
            <p class="conteudo-secundario-paragrafo">2. Organizamos seu <strong>treino</strong>.</p>
        </section>
    </main>

    <footer class="rodape">
        <center><img  class="rodape-imagem" src="fotos/logo.png" alt=""></center>
    </footer>
</body>

</html>