<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="SHORTCUT ICON" href="fotos/logo.png">
    <link rel="stylesheet" href="/css/homepage.css">
    <title>Training BodyBuilder</title>
</head>

<body>
    <header class="cabecalho">
        <img class="cabecalho-imagem" src="fotos/logo.png" alt="">
        <nav class="cabecalho-menu">
            <a class="cabecalho-menu-item"href="/login">Logar-se</a>
            <a class="cabecalho-menu-item"href="">Sobre</a>
        </nav>
    </header>
    <main>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dolorum repudiandae earum similique. Velit fuga aliquam dignissimos saepe asperiores amet ducimus a dolores adipisci, incidunt provident rem voluptatem voluptate aliquid.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi illo doloribus magni odit cumque, vel, adipisci blanditiis autem quasi ipsam corporis accusantium! Impedit, quia repellat explicabo nisi ducimus adipisci dolor.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi illo doloribus magni odit cumque, vel, adipisci blanditiis autem quasi ipsam corporis accusantium! Impedit, quia repellat explicabo nisi ducimus adipisci dolor.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi illo doloribus magni odit cumque, vel, adipisci blanditiis autem quasi ipsam corporis accusantium! Impedit, quia repellat explicabo nisi ducimus adipisci dolor.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi illo doloribus magni odit cumque, vel, adipisci blanditiis autem quasi ipsam corporis accusantium! Impedit, quia repellat explicabo nisi ducimus adipisci dolor.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi illo doloribus magni odit cumque, vel, adipisci blanditiis autem quasi ipsam corporis accusantium! Impedit, quia repellat explicabo nisi ducimus adipisci dolor.</p>
    </main>
    <footer class="rodape">
        <center><img  class="rodape-imagem" src="fotos/logo.png" alt=""></center>
    </footer>
</body>

</html>