<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM Cadastro</title>
</head>
<body>
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Registrar-se</span>
                <form method="post">

                    <div class="input-field">
                        <input  type="text"
                                name="admNome"
                                placeholder="Digite Seu Nome"
                                required>
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input  type="text"
                                name="admEmail"
                                placeholder="Digite seu Email" 
                                required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input  type="password"
                                name="admSenha" 
                                class="password" 
                                placeholder="Crie sua Senha" 
                                required>
                        <i class="uil uil-lock icon"></i>
                    </div>
                    <div class="input-field">
                        <input  type="password" 
                                class="password" 
                                name="admConfirmasenha"
                                placeholder="Confirme sua Senha" 
                                required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    <div class="input-field button">
                        <input type="submit" name="" id="" value="Cadastra-se">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>