<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="align-items: center; justify-content: center; display: flex; flex-direction: column;">
    <form method="post" enctype="multipart/form-data">
        nome: <input type="text" name="admNome" required><br>
        email: <input type="email" name="admEmail" required><br>
        senha: <input type="password" name="admSenha" required><br>
        foto: <input type="file" name="fotoAdm" required>
        confirmar senha: <input type="password" name="admConfirmasenha" required><br>
        <input type="submit" value="Cadastrar">
    </form>
    
</body>
</html>