<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" type="text/css" href="/css/cadastro.css">
    <title>Página de Cadastro</title>
</head>
<body>
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Registrar-se</span>
                <form method="post">

                    <div class="input-field">
                        <input  type="text"
                                name="txtNome"
                                placeholder="Digite Seu Nome"
                                required>
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input  type="text"
                                name="txtEmail"
                                placeholder="Digite seu Email" 
                                required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input  type="text"
                                name="txtCPF"
                                placeholder="Digite seu CPF" 
                                required>
                        <i class="uil uil-document-layout-left"></i>
                    </div>
                    <div class="input-field">
                        <input  type="text"
                                name="txtNumero"
                                placeholder="Digite seu Número de Celular" 
                                required>
                            <i class="uil uil-mobile-android"></i>
                    </div>
                    <div class="input-field">
                        <input  type="password"
                                name="txtSenha" 
                                class="password" 
                                placeholder="Crie sua Senha" 
                                required>
                        <i class="uil uil-lock icon"></i>
                    </div>
                    <div class="input-field">
                        <input  type="password" 
                                class="password" 
                                name="txtConfirmasenha"
                                placeholder="Confirme sua Senha" 
                                required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    <div class="input-field button">
                        <input type="submit" name="" id="" value="Cadastra-se">
                    </div>
                </form>
                <div class="input-field button">
                    <form action="/">
                        <button type="submit" >Voltar</button>
                    </form>
                </div>
                <div class="login-signup">
                    <span class="text">Já se cadastrou?
                        <a href="/login" class="text signup-text">Logar-se</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script>
        const container = document.querySelector(".container"),
              pwShowHide = document.querySelectorAll(".showHidePw"),
              pwFields = document.querySelectorAll(".password");

            pwShowHide.forEach(eyeIcon =>{
                eyeIcon.addEventListener("click", ()=>{
                    pwFields.forEach(pwField =>{
                        if(pwField.type === "password"){
                            pwField.type = "text"

                            pwShowHide.forEach(icon =>{
                                icon.classList.replace("uil-eye-slash","uil-eye")
                            })
                        }else{
                            pwField.type = "password"
                            pwShowHide.forEach(icon =>{
                                icon.classList.replace("uil-eye","uil-eye-slash")
                            })          
                        }
                    })
                })
            })
    </script>
</body>
</html>