<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" type="text/css" href="/css/cadastro.css">
    <title>Página de Cadastro</title>
</head>
<body>
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Registrar-se</span>
                <form method="post">

                    <div class="input-field">
                        <input  type="text"
                                name="txtNome"
                                placeholder="Digite Seu Nome"
                                autocomplete="off"
                                required>
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input  type="email"
                                name="txtEmail"
                                placeholder="Digite seu Email" 
                                autocomplete="off"
                                required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input  type="text"
                                name="txtCPF"
                                placeholder="Digite seu CPF"
                                autocomplete="off"
                                minlength="11" 
                                maxlength="11"
                                required>
                        <i class="uil uil-document-layout-left"></i>
                    </div>
                    <div class="input-field">
                        <input  type="text"
                                name="txtNumero"
                                placeholder="Digite seu Número de Celular"
                                autocomplete="off"
                                minlength="13" 
                                maxlength="13" 
                                required>
                            <i class="uil uil-mobile-android"></i>
                    </div>
                    <div class="input-field">
                        <input  type="password"
                                name="txtSenha" 
                                class="password" 
                                placeholder="Crie sua Senha" 
                                required>
                        <i class="uil uil-lock icon"></i>
                    </div>
                    <div class="input-field">
                        <input  type="password" 
                                class="password" 
                                name="txtConfirmasenha"
                                placeholder="Confirme sua Senha" 
                                required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    <div>
                    <center><p>
                            <%if (typeof msg !== "undefined") {%>
                            <%= msg %>
                            <% } %>
                            </p>
                        </center>
                    </div>
                    <div class="input-field button">
                        <input type="submit" name="" id="" value="Cadastra-se">
                    </div>
                </form>
                <div class="input-field button">
                    <form action="/">
                        <button type="submit">
                            <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"><path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path></svg>
                            <span>Voltar</span>
                          </button>
                    </form>
                </div>
                <div class="login-signup">
                    <span class="text">Já se cadastrou?
                        <a href="/login" class="text signup-text">Logar-se</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script>
        const container = document.querySelector(".container"),
              pwShowHide = document.querySelectorAll(".showHidePw"),
              pwFields = document.querySelectorAll(".password");

            pwShowHide.forEach(eyeIcon =>{
                eyeIcon.addEventListener("click", ()=>{
                    pwFields.forEach(pwField =>{
                        if(pwField.type === "password"){
                            pwField.type = "text"

                            pwShowHide.forEach(icon =>{
                                icon.classList.replace("uil-eye-slash","uil-eye")
                            })
                        }else{
                            pwField.type = "password"
                            pwShowHide.forEach(icon =>{
                                icon.classList.replace("uil-eye","uil-eye-slash")
                            })          
                        }
                    })
                })
            })
    </script>
</body>
</html>