<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link REL="SHORTCUT ICON" HREF="fotos/cruz_vermelha.png">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
       <title>Página de Login</title>
</head>
<body>
    <div class="container">
        <div class="forms">
            <div>
                <%if (typeof msg !== "undefined") {%>
                    <%= msg %>
                <% } %>
            </div>
            <div class="form login">
                <span class="title">Login</span>
                <form method="post">
                    <div class="input-field">
                        <input  type="text"
                                name="txtEmail" 
                                placeholder="Digite seu Email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input  type="password" 
                                name="txtSenha"
                                class="password" 
                                placeholder="Digite sua Senha" required>
                        <i class="uil uil-lock-open-alt"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    <div class="input-field button">
                        <input type="submit" name="" id="" value="Logar-se">
                    </div>
                </form>
                <div class="input-field button">
                    <form action="/">
                        <button type="submit" >Voltar</button>
                    </form>
                </div>
                <div class="login-signup">
                    <span class="text">Ainda não se cadastrou?
                        <a href="/cadastro" class="text signup-text">Cadastra-se</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script>
        const container = document.querySelector(".container"),
              pwShowHide = document.querySelectorAll(".showHidePw"),
              pwFields = document.querySelectorAll(".password");

            pwShowHide.forEach(eyeIcon =>{
                eyeIcon.addEventListener("click", ()=>{
                    pwFields.forEach(pwField =>{
                        if(pwField.type === "password"){
                            pwField.type = "text"

                            pwShowHide.forEach(icon =>{
                                icon.classList.replace("uil-eye-slash","uil-eye")
                            })
                        }else{
                            pwField.type = "password"
                            pwShowHide.forEach(icon =>{
                                icon.classList.replace("uil-eye","uil-eye-slash")
                            })          
                        }
                    })
                })
            })
    </script>
</body>
</html>