<%-include('cabecalho.ejs')%>
       

<div class="divh1">
                <div class="title-unic">
                    <center><h1>Site de Convenio</h1></center>
                </div>
                <div class="divpaibotao">
                    <h1><%=nome%></h1>
                    <div class="botaoCabecalho">
                        <form action="/logout?_method=DELETE" method="post">
                            <button type="submit">Log out</button>
                        </form>
                    </div>
                </div>
                <nav role="navigation">
                    <div id="menuToggle">
            
                        <input type="checkbox" />
            
                        <span></span>
                        <span></span>
                        <span></span>
              
                            <ul id="menu">
                                <a href="#"><li>Perfil</li></a>
                                <a href="#PRO"><li>Treinadores</li></a>
                                <a href="#"><li>Informações</li></a>
                                <a href="#"><li>Contato</li></a>
                            </ul>
                    </div>
                </nav>
            </div>
<hr>
            <div class="title" style="
            padding-top: 160px;
            margin-bottom: -100px;
            color: rgb(0, 0, 0)  ;">
            <center><h1>Titulo</h1></center>
            </div>

<%-include('rodape.ejs')%>
